.Location-h{
    font-size: 2rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
}
.Location{
    background-color: #eef1f4;
    padding-bottom: 5rem;
}

.Location-c{
    display: flex;
}

.place{
    padding-left: 50rem;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}